{% extends 'base.html' %}

{% block title %}{{article.articleTitle}}{% endblock %}


{% block content %}

<div class="row">
  <div class="col-sm-1"></div>
<div id="articlesList" class="col-sm-7 alert alert-secondary">
  <h1>{{article.articleTitle}}</h1>
  <p>{{article.articleText}}</p>
  <em>{{article.publicationDate}}</em>
<!--Naturally you can replace http://CodingForEntrepreneurs.com/ with your own link.!-->
<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
  <button name="share" value="facebook" align="right" class="btn btn-primary">поділитись у facebook</button>

  </a>
  <hr></hr>
  <div class="alert alert-primary">
  {% if latestComments%}
  {% for com in latestComments %}
  <span><strong>{{com.authorName}}: {{com.content}}</strong></span><p align="right" >{{com.pubDate}}</p>


  <hr/>
  {% endfor %}
  {% else %}
  Коментарів ще немає
  {% endif %}
  </div>
  </div>
  <div class="col-sm-4">
    <h3>Ваш коментар</h3>
    <div height="auto" class=" alert alert-success" >
  <form action="{% url 'articles:leaveCom' article.id %}" method='POST'>

  {% csrf_token %}
  <input type="text" class="ff" name="name" required placeholder="Your name:"></br></br>
  <textarea name="text" required placeholder="Comment text:"></textarea></br></br>
  <input type="submit" name="send" value="Відправити" class="btn btn-danger"></input>

  </form>
  </br>
  </div>
</div>
 </div>

{% endblock %}
